{% extends "otree/BaseAdmin.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>

    <link
        rel="import"
        href="{% static "otree-redwood/webcomponents/redwood-debug/redwood-debug.html" %}">
{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column">
	<table>
		<tr>
			<th>Tracking Context</th>
			<th>Mean Time (ms)</th>
		</tr>
		{% for tracking_context, metric in stats.items %}
			<tr>
				<td>{{ tracking_context }}</td>
				<td>{% widthratio metric.mean 1 1000 %}</td>
			</tr>
		{% endfor %}
	</table>

	<ul>
		<li>Messages: {{ global_channel_stats.messages_count }}</li>
		<li>Channel Full Count: {{ global_channel_stats.channel_full_count }}</li>
	</ul>

	<p>
	<ul>
	{% for connection in connected_participants %}
		<li>{{ connection.participant.code }}</li>
	{% endfor %}
	</ul>
	</p>

	<redwood-debug
		session="{{ session_code }}">
	</redwood-debug>

</div>

{% endblock %}