{% extends "otree/BaseAdmin.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>

    <link
        rel="import"
        href="{% static "otree-redwood/webcomponents/otree-redwood-debug/otree-redwood-debug.html" %}">
{% endblock %}

{% block content %}

<table>
	<tr>
		<th>Context</th>
		<th>Time (ms)</th>
	</tr>
	{% for k, v in contexts.items %}
		<tr>
			<td>{{ k }}</td>
			<td>{% widthratio v 1 1000 %}</td>
		</tr>
	{% endfor %}
</table>

<p>
<ul>
{% for connection in connected_participants %}
	<li>{{ connection.participant_code }}</li>
{% endfor %}
</ul>
</p>

<otree-redwood-debug session="{{ session_code }}" width="800" height="300"></otree-redwood-debug>

{% endblock %}