{% extends "global/Page.html" %}

{# javascript to populate otree-constants webcomponent #}

{% block internal_scripts %}
    {{ block.super }}
    <script>
        var oTree = oTree || {};
        (function() {
            oTree.group = {};
            oTree.group.pk = parseInt("{{ player.group.pk }}");
            oTree.group.pk = isNaN(oTree.group.pk) ? null : oTree.group.pk;
            oTree.group.players = [];
            let id_in_group, payoff;
            {% for p in player.group.get_players %}
                id_in_group = parseInt("{{ p.id_in_group }}");
                payoff = parseFloat("{{ p.payoff }}")
                oTree.group.players.push({
                    participantCode: "{{ p.participant.code}}",
                    role: "{{ p.role }}",
                    id_in_group: isNaN(id_in_group) ? null : id_in_group,
                    payoff: isNaN(payoff) ? null : payoff,
                });
            {% endfor %}
            oTree.role = "{{ player.role }}";
            oTree.participantCode = "{{ player.participant.code }}";
            oTree.appName = "{{ group.app_name }}";
            oTree.idInGroup = "{{ player.id_in_group }}";
            oTree.role = "{{ player.role }}";
            oTree.csrfToken = "{{ csrf_token }}";
            {% if view.is_debug %}
            oTree.debug = true;
            {% else %}
            oTree.debug = false;
            {% endif %}
        })();
    </script>
    
    <script type="module" src="/static/otree-redwood/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
{% endblock %}